@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 20px;
  grid-template-areas:
  "h h h h"
  "m m . s"
  "f f f f";
}

.header {
  grid-area: h;
  background-color: #fcb127;
}

.main {
  grid-area: m;
  background-color: #4eb3f6;
}

.sidebar {
  grid-area: s;
}

.footer {
  grid-area: f;
  background-color: #68ad5e;
}

@media (max-width: 700px) {
  .container {
    grid-template-areas:
    "h h h h"
    "s m m m"
    "s f f f";
  }
}